html, body {
    height: 100%;
    overflow: hidden;
}

.modal {
    overflow: hidden;
}

.btn-dark {
    color: #fff;
    background-color: #474949;
    border-color: #474949;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active {
    color: #fff;
    background-color: #333434;
    border-color: #292a2a;
}

.btn-list-vertical[data-toggle="buttons"] > .btn > input[type="radio"] {
    display: none;
}

.btn-list-vertical > .btn {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.in .visible-collapsed, .hidden-collapsed {
    display: none;
}
.in .hidden-collapsed {
    display: initial;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100% !important;
    z-index: 1000; /* FIXME */
    -webkit-transition: left 0.1s ease-in-out;
    transition: left 0.1s ease-in-out;
    background-color: #fff;
    background-image: url(wavegrid.png);
}

#wrapper.in {
    left: 50%;
    /* opacity: 0.4; */
}

.navbar-top {
    border-radius: 0;
}

.menu {
    height: 100%;
    width: 50%;
    background-color: #474949;
}
.menu .accordion-group {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.menu .accordion-inner {
    border: none;
}

.menu .accordion-heading button {
    width: 100%;
    text-align: left;
    border-radius: 0;
}

.map {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
}

.map .map-control {
    position: absolute;
    z-index: 900;
}

.ol-zoom {
    right: 15px;
    bottom: 15px;
}

.ol-location {
    left: 15px;
    bottom: 15px;
    transition: all 0.1s ease-in-out;
}

.ol-rotation {
    top: 15px;
    right: 15px;
}

.ol-location.tracking {
    background-color: #4cae4c;
    border-color: #449d44;
}

.ol-layers {
    right: 15px;
    top: 15px;
}
